<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Proprietary Futures & Commodities Trader</h1>
            <span><address>Windsor Brown Trading Group, Vancouver, BC</address><time>2009 to Present</time></span>
        </header>
        <p>•Implement trades based on daily research of economic indicators, technical analysis, and fundamental analysis.<br />
•Develop trading algorithms from the ground up using a framework based on C# (ninjatrader).<br />
•Implement proprietary strategies which work semi-automated to generate steady returns in any given market condition </p>
    </article>
    <article>
        <header>
            <h1>Logistic Support Manager</h1>
            <span><address>Mannpower Pharmaceutical Services , Delta, BC</address><time>2009 to 2015</time></span>
        </header>
        <p>•Monitor and maintain adequate supply of operating supplies<br />
•Responsible for assisting with the daily operations of the department.<br />
•Accuracy and completeness of Clinical Information for a variety of Patient Assistance programs.</p>
    </article>
    <article>
        <header>
            <h1>Restaurant Owner/Operator </h1>
            <span><address>Balthazar Restaurant Hideaway , Vancouver, BC</address><time>2005 to 2008</time></span>
        </header>
        <p>•Managing the entire staff of the restaurant and coordinating their work <br />
•Generating detailed daily, monthly, quarterly and yearly reports on business, staff, and profit <br /> 
•Coordinating and managing the entire operation of restaurant 
.</p>
    </article>
    <article>
        <header>
            <h1>Front-end Developer and Email Designer / Co owner</h1>
            <span><address>HealthMeds ETC, Richmond, BC</address><time>2003 to 2005</time></span>
        </header>
        <p>•Worked with a team of web developers in a web based pharmacy company<br />
•Design front-end using Javascript and HTML <br/>
•Engaged in call centre training to assist seniors with filling out forms and implemented a 52 question form using Javascript for validations and PHP for CRUD functionality. <br />
•Built a workflow of collecting information from clients and sending out to physicians with email template design..</p>
    </article>
    <article>
        <header>
            <h1>UI/UX and Web Designer</h1>
            <span><address>JNZ Technologies , Calgary, Canada</address><time>2001 to 2003</time></span>
        </header>
        <p> •Analyze user experience problems and create design solutions that meet measurable business goals and requirements for internal and external tools and products <br/>
•Recognize and predict use cases and user interaction <br/>
•Work directly with product managers, marketing managers, and engineers to assist in the definition of product requirements.
        </p>
    </article>
</section>
