<section id="projects">
<div class="container">
  <h3>Current Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://rottenmangoesnew.heroku.com">Movie Review Site</a></strong>
			-An application made in Ruby on Rails backend.<br />
			- Allows users to submit / search and review movies on the site<br />
			- Also has an admin panel which allows user administration and switching roles <br /><br />

			<p>-- Additions to be made -- </p>
			- Add Jquery and Ajax on forms submitted<br />
			- Change functionality so only admin can submit/add/edit a movie. <br />
			<br />
			<a href="http://rottenmangoesnew.heroku.com">- Link to the deployed site</a><br />
			<a href="https://github.com/windsorbrown/rotten_mangoes_product">- Source Code at Github</a> <br />


		</h5>
		<br />
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="http://battleofcuteness.heroku.com">Pet Voting Site</a></strong>
			- An application made in Ruby with Sinatra backend.<br />
			- Made in collaboration with 2 other team members <br />
			- The website allows users to upload their pet photos in order to first compete with other pets of the same species and then after getting highest upvotes is chosen automatically to compete against the cutest pet of the other specie (cat/dog).<br /><br />

			<p>-- Additions / Improvements to be made ---<p>
			- Rewrite into Rails<br />
			- Have an admin user to check if photos are appropiate<br />
			- have the option for users to upload their own photo too.<br />
			- Improve user experience with new styles and better UI
			<br />
			<br />
				<a href="http://battleofcuteness.heroku.com">- Link to the deployed site</a><br />
			<a href="https://github.com/windsorbrown/catsdogs-product">- Source Code at Github</a> <br />

		</h5>
   
    </div>
  </div>
</div>
</section>
